<h1>歷史訂單</h1>
<div class="accordion" id="accordionPanelsStayOpenExample">

    {{#each ordersByMonth}}

    <div class="row">
        <div class="col-md-4">
            <h2>月份：{{this.month}}</h2>
            <h3>訂單數：{{this.orderQtyMonth}}</h3>
            <h3>營業額：{{this.totalAmountMonth}}</h3>
        </div>
        <div class="col-md-4">
            <h2>Line Pay</h2>
            <h3>訂單數：{{this.linepayOrderQtyMonth}}</h3>
            <h3>營業額：{{this.linepayTotalAmountMonth}}</h3>
        </div>
        <div class="col-md-4">
            <h2>現金</h2>
            <h3>訂單數：{{this.cashOrderQtyMonth}}</h3>
            <h3>營業額：{{this.cashTotalAmountMonth}}</h3>
        </div>

    </div>
    {{#each this.orders}}
    <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="panelsStayOpen-heading-{{this.id}}">
            <button class="accordion-button collapsed row" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse-{{this.id}}" aria-expanded="false"
                aria-controls="panelsStayOpen-collapse-{{this.id}}" style="margin:0">
                <div class="col-md-3">
                    <h4>訂單時間: {{this.created_at}}</h4>

                </div>
                <div class="col-md-3">
                    <h4>訂單編號: {{this.id}}</h4>

                </div>
                <div class="col-md-3">
                    <h4>總金額: {{this.total_amount}}</h4>
                </div>


            </button>
        </h2>
        <div id="panelsStayOpen-collapse-{{this.id}}" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-heading-{{this.id}}">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-3">
                        <h4>桌號: {{this.Table.name}}</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>付款方式: {{this.payment_method}}</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>付款時間: {{this.paid_at}}</h4>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">產品名稱</th>
                            <th scope="col">數量</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.cart_items}}
                        <tr>
                            <td>{{this.product.name}}</td>
                            <td>{{this.quantity}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="col-md-12 text-end">
                    <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal"
                        data-bs-target="#deleteCheck" data-bs-whatever="{{this.id}}">刪除訂單</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <hr>
    {{/each}}
</div>

{{! Modal }}
<div class="modal fade" id="deleteCheck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">確定刪除 訂單編號：嗎？</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <form class="row" action="" method="POST" id="checkAgain">
                    <button type="submit" class="btn btn-danger">刪除訂單</button>
                </form>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">否</button>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteCheck = document.querySelector('#deleteCheck')
    deleteCheck.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        const modalTitle = deleteCheck.querySelector('.modal-title')
        const checkAgain = deleteCheck.querySelector('#checkAgain')

        modalTitle.textContent = `確定刪除 訂單編號：${recipient} 嗎？`
        checkAgain.action = `/admin/orders/${recipient}?_method=DELETE`
    })
</script>