<div class="container">
    <h3>支付測試點餐機</h3>
    <div class="row" id="menu">
        {{#each products}}
        {{#if this.Products.id}}
        <div id="menu" class="card m-2" style="max-width: 400px;">
            <div class="row g-0">

                <div class="col-md-5 d-flex align-items-center">
                    <img class="img-fluid rounded-start" src="{{this.Products.image}}" alt="Card image cap">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title"> {{this.Products.name}} </h5>
                        <p style="font-size: 12px;">{{this.name}}</p>
                        <p class="card-text">價格：{{this.Products.price}}</p>
                        {{#if this.Products.isAvailable}}
                        <button type="button" class="btn btn-primary btn-sm" data-id="{{this.Products.id}}"
                            data-name="{{this.Products.name}}" data-price="{{this.Products.price}}"
                            id='{{this.Products.id}}'>加入購物車</button>
                        {{else}}
                        <button type="button" class="btn btn-secondary btn-sm" disabled>暫無供應</button>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

    <h4 class="mt-4">購物車清單</h4><span><button id="reset-cart-button" type="button"
            class="btn btn-secondary btn-sm  me-2">清空購物車</button></span>

    <div class="row">
        <div class="col-12">
            <ul class="list-group" id="cart">

            </ul>
        </div>
    </div>
    <h5 class="mt-4">總金額：<span id="total-amount">--</span></h5>
    <div class="row mt-5">
        <div class="col-12">
            <button type="button" class="btn btn-info" id="submit-button">結帳</button>
        </div>
    </div>
</div>

<script src="/js/products.js"></script>