<div class="container">
    <h3>支付測試點餐機</h3>
    <option value=""></option>
    <div class="row" id="menu">
        {{#each products}}
        {{#if this.Products.id}}
        <div id="menu" class="card m-2" style="max-width: 400px;">
            <div class="row g-0">

                <div class="col-md-5 d-flex align-items-center">
                    <img class="img-fluid rounded-start" src="{{this.Products.image}}" alt="Card image cap">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title"> {{this.Products.name}} </h5>
                        <p style="font-size: 12px;">{{this.name}}</p>
                        <p class="card-text">價格：{{this.Products.price}}</p>
                        {{#if this.Products.isAvailable}}
                        <button type="button" class="btn btn-primary btn-sm" data-id="{{this.Products.id}}"
                            data-name="{{this.Products.name}}" data-price="{{this.Products.price}}"
                            id='{{this.Products.id}}'>加入購物車</button>
                        {{else}}
                        <button type="button" class="btn btn-secondary btn-sm" disabled>暫無供應</button>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

    <h4 class="mt-4">購物車清單</h4><span><button id="reset-cart-button" type="button"
            class="btn btn-secondary btn-sm  me-2">清空購物車</button></span>

    <div class="row">
        <div class="col-12">
            <ul class="list-group" id="cart">

            </ul>
        </div>
    </div>
    <h5 class="mt-4">總金額：<span id="total-amount">--</span></h5>
    <div class="row mb-5">
        <div class="col-12">

            <form action="/orders" method="post">
                <div class="row mb-5">
                    <div class="col-12">
                        <form action="/orders" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    桌號：
                                    <select name="table" class="m-2" required>
                                        <option value="" disabled selected>請選擇桌號</option>
                                        {{#each tables}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    備註：
                                    <textarea name="notes" id="notes" cols="30" rows="1" placeholder="備註"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <input id="cartItems" type="hidden" name="cartItems" value="">
                                    <input id="totalAmount" type="hidden" name="totalAmount" value="">
                                    <button type="submit" class="btn btn-info" id="submit-button">送出訂單</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<script src="/js/products.js"></script>